build
gerby/__pycache__
gerby/static/gifs
gerby/static/scalemath-images
gerby/static/tikzcd-images
gerby/static/webcompile-images
gerby/static/webprooftree-images
gerby/tag_ancestors_2.json
gerby/tools/stacks.paux
gerby/tools/stacks.pdf
gerby/tools/stacks.sqlite
gerby/tools/stacks.tags
gerby/views/__pycache__
instance/feeds/github.feed
stacks.sqlite
