{% extends "layout.html" %}

{% block title %}Recent Changes {% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.bonsai.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bonsai.js') }}"></script>
  <style type="text/css">
dl#history dt + dd {
  border-left: 1px solid black;
}
  </style>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/changes">Recent Changes</a>
{% endblock %}

{% block hamburger %}
  <div class="interaction"></div>
  {{ macros.singlePageLinks() }}
{% endblock %}

{% block body %}
<section>
  <h1>Changes</h1>
  <p>Below you find an overview of the updates to the Clowder project.

  <h1>2025</h1>
    <dl id="changes" class="row">
      <!-- July 06 Entry -->
      <dt class="col-sm-3" style="margin-top:0.65em;">July 06</dt>
      <dd class="col-sm-9">
        <ul>
          <li><span class="counter-inner-no-tag">•</span>The right adjoint $f_{*}$ to the inverse image functor for powersets $f^{-1}\colon\mathcal{P}(Y)\to\mathcal{P}(X)$ is now called the <b>codirect image</b>.</li>
          <li><span class="counter-inner-no-tag">•</span>Notation for the left/right adjoints to inverse images of powersets has been changed; see <a href="https://www.clowderproject.com/tag/0225.html">Tag 0225</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>Fixed an issue with duplication of tags. Some tags inevitably had to be moved as a result :(</li>
          <li><span class="counter-inner-no-tag">•</span>Added an introduction to the project, <a href="https://www.clowderproject.com/tag/01WK.html">Tag 01WK</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>Made Clowder's compilation process reproducible via <a href="https://github.com/The-Clowder-Project/the-clowder-project/actions">GitHub Actions</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>Completely reworked Clowder's infrastructure, fixing several bugs and implementing a number of quality-of-life features. <i>This took months; there are simply too many changes to individually list here!</i></li>
        </ul>
      </dd>
    </dl>
  <h1>2024</h1>
    <dl id="changes" class="row">
      <!-- December 04 Entry -->
      <dt class="col-sm-3" style="margin-top:0.65em;">December 04</dt>
      <dd class="col-sm-9">
        <ul>
          <li><span class="counter-inner-no-tag">•</span>Revised and added new material on moduli of monoidal structures to <a href="https://www.clowderproject.com/tag/01UF.html">Constructions With Monoidal Categories</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>Revised <a href="https://www.clowderproject.com/tag/01QW.html">Tag 01QW</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>Added a completely 1-categorical proof of the universal property of the smash product of pointed sets, <a href="https://www.clowderproject.com/tag/01VY.html">Tag 01VY</a>, answering <a href="https://mathoverflow.net/questions/466593">MO 466593</a>.</li>
        </ul>
      </dd>
      <!-- November 22 Entry -->
      <dt class="col-sm-3" style="margin-top:0.75em;">November 22</dt>
      <dd class="col-sm-9">
        <ul>
          <li><span class="counter-inner-no-tag">•</span>Added some missing proofs to <a href="https://www.clowderproject.com/tag/0098.html">Chapter: Pointed Sets</a>.</li>
        </ul>
      </dd>
      <!-- November 19 Entry -->
      <dt class="col-sm-3" style="margin-top:0.65em;">November 19</dt>
      <dd class="col-sm-9">
        <ul>
          <li><span class="counter-inner-no-tag">•</span>Began a complete overhaul of all proofs which read “Clear.” and the like. All proofs must now read either “Omitted” or be properly justified, no matter how “trivial” the details are.</li>
          <li><span class="counter-inner-no-tag">•</span>Footnote sections are now local with respect to each environment box.</li>
          <li><span class="counter-inner-no-tag">•</span>Heavily modified <a href="https://www.clowderproject.com/tag/000J.html">Chapter: Constructions With Sets</a> (the chapter now has more than a hundred additional pages), adding new sections on:</li>
            <ul>
                <li><span class="counter-inner-no-tag">•</span>Inverse limits of sets, <a href="https://www.clowderproject.com/tag/01E3.html">Tag 01E3</a>.</li>
                <li><span class="counter-inner-no-tag">•</span>Direct colimits of sets, <a href="https://www.clowderproject.com/tag/01F8.html">Tag 01F8</a>.</li>
                <li><span class="counter-inner-no-tag">•</span>The internal Hom of a powerset, <a href="https://www.clowderproject.com/tag/01JT.html">Tag 01JT</a>.</li>
                <li><span class="counter-inner-no-tag">•</span>Isbell duality for sets (turned out to not be very interesting), <a href="https://www.clowderproject.com/tag/01L1.html">Tag 01L1</a>.</li>
                <li><span class="counter-inner-no-tag">•</span>A six-functor formalism for (power)sets, <a href="https://www.clowderproject.com/tag/01N1.html">Tag 01N1</a>.</li>
            </ul>
            Additionally, the following sections have been substantially rewritten and/or had additional material added:
            <ul>
              <li><span class="counter-inner-no-tag">•</span>Unions of Families of Subsets, <a href="https://www.clowderproject.com/tag/003E.html">Tag 003E</a>.</li>
              <li><span class="counter-inner-no-tag">•</span>Intersections of Families of Subsets, <a href="https://www.clowderproject.com/tag/003V.html">Tag 003V</a>.</li>
              <li><span class="counter-inner-no-tag">•</span>Most subsections of <a href="https://www.clowderproject.com/tag/002X.html">Section: Operations With Sets</a>.</li>
              <li><span class="counter-inner-no-tag">•</span>All sections pertaining to powersets.</li>
            </ul>
          <li><span class="counter-inner-no-tag">•</span>A new chapter, <a href="https://www.clowderproject.com/tag/01NK.html">Chapter: Monoidal Structures on the Category of Sets</a>, has been added.</li>
          <li><span class="counter-inner-no-tag">•</span>Two new sections have been added to <a href="https://www.clowderproject.com/tag/0098.html">Chapter: Pointed Sets</a>:</li>
            <ul>
              <li><span class="counter-inner-no-tag">•</span><a href="https://www.clowderproject.com/tag/01QC.html">Subsection 01QC: Active and Inert Morphisms of Pointed Sets</a>.</li>
              <li><span class="counter-inner-no-tag">•</span><a href="https://www.clowderproject.com/tag/01QS.html">Subsection 01QS: Deleting Basepoints</a>.</li>
            </ul>
          <li><span class="counter-inner-no-tag">•</span>Corrected a mistake pointed out by Naïm Camille Favier in <a href="https://www.clowderproject.com/tag/01VL.html">Item 01VL</a> of <a href="https://www.clowderproject.com/tag/011T.html">Proposition 011T</a> of <a href="https://www.clowderproject.com/tag/011R.html">Section 011R</a> (and added them as a contributor — thank you so much, Naïm!). The corrected statement is now available as Tags <a href="https://www.clowderproject.com/tag/01U6.html">01U6</a> and <a href="https://www.clowderproject.com/tag/01U7.html">01U7</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>Sligthly reorganized <a href="https://www.clowderproject.com/tag/00W8.html">Chapter: Categories</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>A new chapter, <a href="https://www.clowderproject.com/tag/01UF.html">Chapter: Constructions With Monoidal Categories</a>, has been added. It currently consists only of a single nonempty section, which is required for <a href="https://www.clowderproject.com/tag/01P8.html">Tag 01P8</a>.</li>
          <li><span class="counter-inner-no-tag">•</span>Finally, a number of changes to the website infrastructure were implemented.</li>
        </ul>
      </dd>

      <!-- May 06 Entry -->
      <dt class="col-sm-3" style="margin-top:0.7em;">May 06</dt>
      <dd class="col-sm-9">
        <ul>
          <li><span class="counter-inner-no-tag">•</span>Initial release — yippee! 🥳</li>
        </ul>
      </dd>
    </dl>
    </section>
{% endblock %}

{% block sidebar %}
  <div class="interaction"></div>
{% endblock %}
