{% extends "layout.html" %}

{% block title %}How to Contribute{% endblock %}

{% block breadcrumb %}
  <li><a href="/contributin">How to Contribute</a>
{% endblock %}

{% block body %}
  <h2>How to Contribute</h2>
    <p style="margin-top:0.75em;">All kinds of feedback and contributions are extremely welcome: pointing out typos, errors, historical remarks, references, layout of webpages, spelling errors, improvements to the overall structure, missing lemmas, etc.</p>
    <p style="margin-top:0.75em;">If you're interested in contributing to the Clowder Project, please reach out to the project maintainer at <tt style="font-size:12pt"><a href="mailto:emily.de.oliveira.santos.tmf@gmail.com">emily.de.oliveira.santos.tmf@gmail.com</a></tt> or alternatively at the <a href="https://discord.gg/b98uG2MWgc">Clowder Project Discord</a>.</p>
  <h2 style="margin-top:0.35em;">Ways to Contribute</h2>
  <h3 style="margin-top:0.35em;">Missing Proofs</h3>
  <p>There is a large number of missing proofs in the project, ranging from trivial proofs to simple lemmas to more involved results. Missing proofs are listed at <a href="https://www.clowderproject.com/tag/01CT.html">Tag 01CT</a>, which is currently in construction.</p>
  <h3 style="margin-top:0.35em;">Examples</h3>
  <p>Contributing new examples to the Clowder Project is always welcome! A non-exhaustive list of potential new examples to add may be found at <a href="https://www.clowderproject.com/tag/01V7.html">Tag 01V7</a>.</p>
  <h3 style="margin-top:0.35em;">Open Problems</h3>
  <p>A number of questions and open problems are listed throughout the Clowder Project. These are exhaustively enumerated at <a href="https://www.clowderproject.com/tag/01V9.html">Tag 01V9</a> (or, rather, will be. Tag 01V9 is also under construction).</p>
  <h3 style="margin-top:0.35em;">Collaboration</h3>
  <p>Once in a while, collaboration on a specific chapter or theme will be coordinated in the <a href="https://discord.gg/b98uG2MWgc">Clowder Project Discord</a>, with a corresponding GitHub repository being created to facilitate the process. Potential such chapters currently include:</p>
    <ul>
      <li><span class="counter-inner-no-tag">•</span>Spans of sets.</li>
      <li><span class="counter-inner-no-tag">•</span>Isbell duality.</li>
      <li><span class="counter-inner-no-tag">•</span>Centres and traces of categories.</li>
    </ul>
  <h3 style="margin-top:0.35em;">Planned Future Additions</h3>
  <p>Most of the near future additions and revisions to the Clowder Project currently being worked on are listed at <tt style="font-size:12pt"><a href="https://github.com/The-Clowder-Project/clowder-future">https://github.com/The-Clowder-Project/clowder-future</a></tt>.</p>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}


