{% extends "layout.html" %}

{% block title %}Donations{% endblock %}

{% block breadcrumb %}
  <li><a href="/donations">Donations</a>
{% endblock %}

{% block body %}
  <h1 style="margin-top:0.25em;margin-bottom:0.0em">Donations</h1>
  <hr>
  <p style="margin-bottom:1em">The Clowder Project currently relies on donations, which help with infrastructure costs as well as development. All donations go to the current project maintainer, <a href="https://topological-modular-forms.github.io/">Emily de Oliveira Santos</a>, charged with:</p>
  <ol class="main-list">
      <li id="1" class="custom-item"><span class="counter"><span class="counter-inner-no-pointer">1.</span>Taking care of the te&shy;ch&shy;ni&shy;cal aspects of the project website, including hosting and in&shy;fra&shy;struc&shy;ture.</span></li>
    <li id="2" class="custom-item"><span class="counter"><span class="counter-inner-no-pointer">2.</span>Continuously ex&shy;pan&shy;ding the project with new content on category theory and re&shy;la&shy;ted subjects.</span></li>
    <li id="3" class="custom-item"><span class="counter"><span class="counter-inner-no-pointer">3.</span>Coordinating contributions and collaboration, ensuring the project is kept co&shy;he&shy;si&shy;ve.</span></li>
  </ol>
  <p style="margin-bottom:1em">The Clowder Project currently receives <b>$5</b> monthly, which is below what is required to run the project. A larger monthly donation pool would:</p>
  <ol class="main-list">
      <li id="4" class="custom-item"><span class="counter"><span class="counter-inner-no-pointer">1.</span>Help ensure the continuation of the project</span></li>
    <li id="5" class="custom-item"><span class="counter"><span class="counter-inner-no-pointer">2.</span>Allow the project maintainer to devote more hours towards improving and ex&shy;pan&shy;ding Clowder, directly impacting how quickly new updates and content come out.</span></li>
  </ol>
  </p>
  <hr>
  <h2>Supporters</h2>
  <p style="margin-bottom:1em">There is currently <b>1 monthly supporter</b> of the Clowder Project:</p>
  <ul>
      <li><span class="counter-inner-no-tag">•</span><a href="https://github.com/0xEstelle">Estelle Sterrett</a></a>
  </ul>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}
