{% extends "layout.html" %}

{% block title %}Progress{% endblock %}

{% block breadcrumb %}
  <li><a href="/progress">Progress</a>
{% endblock %}

{% block body %}
  <h1 style="margin-top:0.25em;margin-bottom:0.0em">Progress</h1>
  <hr>
  <p style="margin-bottom:1em">In this page we discuss the current state of the project and what is planned for the future.</p>
  <h2 style="margin-top:0.375em;margin-bottom:0.55em">How Clowder Began</h2>
  <p style="margin-bottom:1em">Bizzarely enough, Clowder indirectly started from a set of <a href="https://ankiweb.net/about">Anki</a> flashcards on a number of subjects back in 2018. As the flashcards grew and grew, it became necessary to organize them in PDF format instead. Then, from 2018 until 2023, the notes kept growing.</p>
  <p style="margin-bottom:1em">As before, they eventually grew too large, and organizing them in PDF kept getting more and more difficult. For instance, at its last year, compilation was taking 8 hours, and LuaLaTeX had to be recompiled specifically to increase certain built-in limits.</p>
  <p style="margin-bottom:1em">Beginning in late 2023, the notes started to be reorganized in what became the current version of Clowder.</p>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}
