{% extends "layout.html" %}

{% block title %}Progress{% endblock %}

{% block breadcrumb %}
  <li><a href="/progress">Progress</a>
{% endblock %}

{% block body %}
  <h1 style="margin-top:0.25em;margin-bottom:0.0em">Progress</h1>
  <hr>
  <p style="margin-bottom:1em">In this page we discuss the current state of the project and what is planned for the future.</p>
  <h2 style="margin-top:0.375em;margin-bottom:0.55em">How Clowder Began</h2>
{% endblock %}

{% block sidebar %}
  {{ macros.singlePageLinks() }}
{% endblock %}
