@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@import url("bibliography.css");
@import url("browse.css");
@import url("comments.css");
@import url("search.css");
@import url("tag.css");
@import url("toc.css");
@import url("tree.css");

html {
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
}

nav#header > * {
  display: inline-block;
}

section#meta,
ul#quicklinks {
  display: none;
}

@media (min-width: 992px) {
  section#meta {
    display: block;
  }

  ul#quicklinks {
    display: inline-block;
  }

  div#burger {
    display: none;
  }
}

@media (min-width: 768px) {
  ul#toc .pdf-link {
    display: inline;
  }
}

body {
  position: relative;
  font-family: "Droid Sans", 'Alegreya Sans', Arial, sans-serif;
  font-size: 12pt;
  color: #000;
}

div.bounded {
  max-width: calc(980rem / 14);
}

a {
  text-decoration: none;
  color: #1d5cb4;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: underline;
  color: #0d1cb4;
}

ul#crumbs {
  padding: 0;
  list-style: none;
  margin: auto 0;
  vertical-align: center;
  min-width: 2rem;
}

div#burger {
  text-align: right;
  padding: 0;
}

input#burger-input {
  display: none;
}

label#burger-icon {
  margin-bottom: 0 !important;
  height: calc(6rem / 4);
}

label#burger-icon span {
  display: block;
  position: relative;
  width: calc(23rem / 14);
  height: calc(3rem / 14);
  border-radius: calc(3rem / 14);
  background-color: black;
  margin-top: calc(4rem / 14);
  transition: all 0.1s ease-in-out;
}

input#burger-input:checked + label#burger-icon span#top-bun {
  transform: rotate(-45deg);
  margin-top: calc(9rem / 14);
}

input#burger-input:checked + label#burger-icon span#meat {
  transform: rotate(45deg);
  margin-top: calc(-2.5rem / 14);
}

input#burger-input:checked + label#burger-icon span#bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

input#burger-input:checked + label#burger-icon + div#burger-content {
  display: block;
  box-shadow: 1px 1px 1px gray;
}

div#burger-content {
  display: none;
  position: absolute;
  width: calc(250rem / 14);
  top: calc(30rem / 14);
  margin-left: calc(-225rem / 14);
  padding: calc(5rem / 14);
  background-color: #f9f8f4;
  z-index: 2;
  text-align: left;
  border: 1px solid black;
  border-radius: 6px;
}

div#burger-content div.interaction {
}


div#burger-content div.toggle,
section#meta div.toggle {
  margin-top: -2.5rem;
  transform: translate(0px,-120px);
}

div#burger-content ul.tag-info {
  margin-left: .5rem;
  margin-bottom: 0;
}

ul#crumbs li + li::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}

ul#crumbs li {
  float: left;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul#crumbs li.active {
  color: #636c72;
}

header.col {
  padding-left: 0;
  /*font-family: 'Alegreya Sans', sans-serif;*/
}

header h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-top: calc(3rem / 14);
  font-size: calc(22rem / 14);
  font-weight: bold;
}

header h1 a {
  display: block;
  padding-left: calc(30rem / 14);
  height: 100%;
  background-image: url('/static/mess.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: calc(24rem / 14);
  color: black;
  text-decoration: none;
}

div.main {
  padding-left: calc(20rem / 14);
  padding-right: calc(20rem / 14);
}

div#first-bar {
  background-color: #f5a9b8;
  z-index: 2000;
  height: 50px;
  position: sticky;
  top: 0;
}

div.inner-top {
  padding: calc(10rem / 14);
}

nav#header {
  padding: 0;
  margin: 0;
  position: relative;
  padding-top: calc(3rem / 14);
}

form#quicksearch span#search-icon {
  position: relative;
  left: calc(24rem / 14);
  width: 0;
}

form#quicksearch input {
  border-radius: calc(5rem / 14);
  border-style: solid;
  border-width: 0;
  padding-left: calc(23rem / 14);
  padding-top: calc(5rem / 14);
  padding-bottom: calc(5rem / 14);
}

nav#header ul#quicklinks {
  margin: 0 calc(20rem / 14) 0 0;
}

nav#header ul#quicklinks li {
  display: inline-block;
  margin-left: calc(10rem / 14);
}

nav#second-bar {
  padding: calc(10rem / 14);
  background-color: #5bcefa;
  z-index: 2000;
  position: sticky;
  top: 50px;
}

div#content {
  padding: calc(10rem / 14);
}

section#main {
  padding: 0;
}

section#meta {
  top: calc(45rem / 14);
  z-index: 0;
  padding: 0 calc(10rem / 14) 0 calc(5rem / 4);
}

.tag, .commit, .filename, .label {
  font-family: "Inconsolata", monospace;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}
a[href^="https://github.com"],
a[href^="https://doi.org"],
a[href^="https://arxiv.org"],
a[href^="https://mathscinet.ams.org"],
a[href*=".pdf"],
a[href*=".rss"],
a[href*="@gmail.com"],
a[href*=".atom"] {
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: calc(18rem / 14);
  min-height: calc(16rem / 14);
  background-size: calc(16rem / 14);
}

a[href^="https://github.com"] {
  background-image: url("../images/icon.github.png");
}

a[href^="https://doi.org"] {
  background-image: url("../images/icon.doi.png");
}

a[href^="https://arxiv.org"] {
  background-image: url("../images/icon.arxiv.png");
}

a[href^="https://mathscinet.ams.org"] {
  background-image: url("../images/icon.ams.png");
}

a[href*=".pdf"] {
  background-image: url("../images/PDF.png");
}
a[href*="gmail.com"] {
  background-image: url("../images/email.svg");
}

a[href*=".rss"],
a[href*=".atom"] {
  background-image: url("../images/icon.rss.png");
}

ul#index-select {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: calc(400rem / 14);
}

ul#index-select li {
  float: left;
  width: 48%;
  margin-left: 4px;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 1px 1px 1px gray;
}

ul#index-select li a {
  display: block;
  width: 100%;
  height: 100%;
  height: 4em;
  line-height: 4em;
}

ul#index-select li img {
  width: 2.5em;
  padding: 0 .4em;
}

ul#index-select li#index-browse,
ul#index-select li#index-search,
ul#index-select li#index-bibliography,
ul#index-select li#index-comments {
  text-align: left;
}

ul#index-select a {
  background-image: none;
}

.header-offset {
  display: inline-block;
  position: relative;
  top: -4em;
  visibility: hidden;
}

.footnote-offset {
  display: inline-block;
  position: relative;
  top: -10em;
  visibility: hidden;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

h2.error {
  background-image: url("../images/alert.svg");
  background-repeat: no-repeat;
  background-position: left .2rem;
  padding-left: 1.5rem;
}

.toggle-off {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
  border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
  background-color: white;
  border: thin rgba(0, 0, 0, .25) solid;
}

div.toggle,
div.toggle:hover,
div.toggle:active {
  display: block;
  margin: auto;
  background-color: #edece6 !important;
  border-color: rgba(0, 0, 0, .25) !important;
}

div.btn-primary,
div.btn-primary:hover,
div.btn-primary:active {
  border-color: rgba(0, 0, 0, .25);
}

label.toggle-on,
label.toggle-off {
  background-color: #edece6;
  color: black;
}

label.toggle-on:hover,
label.toggle-off:hover,
label.toggle-on:active,
label.toggle-off:active {
  background-color: #d9d8d1 !important;
  color: black !important;
}
.warning_container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    align-items: flex-start;
}
.hidden {
    display: none;
}
#footnote-box {
    position: absolute;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 80%;
    overflow: auto;
    z-index: 1000;
    border-radius: 10px;  /* Add this line for rounded corners */
}
.footnote {
  text-decoration: none;
  color: #1d5cb4;
  transition: color 0.2s ease;
  cursor: pointer;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: none;
}
li {
  position: relative;
}
.counter {
  position: relative;
}
.counter-inner-no-pointer {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  position: absolute;
  left: -3em;
  width: 2.5em;
}
.counter-inner {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-align: right;
  position: absolute;
  left: -2em;
  width: 1.5em;
  top: -0.125em;
}
.counter-link {
  text-decoration: none;
  color: black;
}
.counter-link:hover .counter-inner {
  text-decoration: underline;
}
ul.star {
  list-style-type: "(★) ";
  margin-bottom: 20px;
}
ul.UP {
  list-style-type: none;
}
ul.UP > li:first-child::before {
  content: "(UP) "; /* Customize list marker text */
  font-family: Alegreya Sans; /* Customize font weight */
  font-weight: bold; /* Customize font weight */
  font-variant: small-caps; /* Customize font variant */
  font-size: 90%; /* Customize font size */
  width: 1.5em; /* Adjust width as needed for alignment */
  margin-left: -2em; /* Negative margin to align the text properly */
  position: relative;
  top: -2.05px;
  left: -1.5px;
}
.smallsize {
  font-size: 11pt;
}
.footnotesize {
  font-size: 10pt;
}
.scriptsize {
  font-size: 8.5pt;
}
.tinysize {
  font-size: 8pt;
}
.webcompile {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.book-styles {
    padding-left: 20px;
    padding-right: 20px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.push-up {
    transform: translate(0,-7.9px);
}
.title {
    transform: translate(0,-2px);
}
.equation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.equation img {
    margin: 0 auto;
}
.math-content {
    display: flex;
    align-items: center;
}

.math-content .math-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.math-content p {
    margin: 0;
}
.math-content p:last-child {
    position: absolute;
    right: 15px;
}
.triangleright {
    position: relative;
    bottom: 1.75px;
}
.right-interaction-box {
    background-color: #f2f2f2;
    border: 2px;
    border-color: #000000;
    padding-bottom: 5px;
}
.previous-next-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidebar-container-box {
    padding-top: 10px;
    padding-bottom: 10px;
}
.PDF-button {
    background-color: #BF0C00;/*#DB637C;/*#EC7089;/*#B35082;/*#BF0C00;*/
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.PDF-button-container {
    align: center;
    text-align: center;
}
.PDF-button-container a[href*=".pdf"] {
  background-image: none;
  text-decoration: none;
  color: #FFFFFF;
}
.PDF-button-container a:hover{
    background-image: none;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #B30B00;/*#DB637C;/*#A03C6E;/*#B30B00;*/
}
.previous-button,.next-button {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 26px;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.previous-button:hover, .next-button:hover{
    color: #000000;
}
.tag-info {
    margin-top: 0px;
    margin-bottom: 0px;
}
.previous-arrow-img {
    transform: translate(0px,-0.5px);
}
.next-arrow-img {
    transform: translate(0px,-0.5px);
}
.statistics-img {
    transform: translate(0px,-1px);
    padding-right: 2px;
    height="10px";
    width="auto";
}
div.information ul.tag-info li a {
    padding-left: 5px;
}
.pdf-img {
    transform: translate(0px,-1px);
    filter: invert(100%);
}
section#meta {
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    top: 130px;
}
.arrow-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.arrow-text {
    margin-top:8px;
    text-transform: uppercase;
    font-weight: bold;
}
.cite-img {
    padding-left: 2px;
    height: 14px;
    width: auto;
}
.statistics-cite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.dependencies {
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-reference-popover-title {
    font-size: 12pt;
}
.no-reference-popover-content {
    font-size: 12pt;
}
.invisible-svg {
    display: none;
}
p + div.equation {
  margin-top: 0rem;
  margin-bottom: 0.75rem;
}
p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.env-definition p:first-child, .env-construction p:first-child, .env-proposition p:first-child, .env-example p:first-child, .env-corollary p:first-child, .env-remark p:first-child {
    margin-top: 0rem;
}
.warning_container {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    align-items: flex-start;
}
.text-block {
    max-width: 600px;
}
.textdbend-content img {
    width: 30px;
    vertical-align: bottom;
}
.contact-box {
    background-color: #f2f2f2;
    padding: 10px;
}
.email-icon {
    height: 15px;
    width: auto;
}
.twitter-icon {
    height: 15px;
    width: auto;
}
.discord-icon {
    height: 15px;
    width: auto;
}
.no-bg {
  background-image: none !important;
}
.discord-link {
  text-decoration: none !important;
  color: #1d5cb4 !important;
  transition: color 0.2s ease !important;
  cursor: pointer !important;
}
.discord-link:hover {
  text-decoration: underline !important;
  color: #0D1CB4 !important;
}
.contact-form-submit-button {
    background-color: #BF0C00;/*#DB637C;/*#EC7089;/*#B35082;/*#BF0C00;*/
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.contact-label {
    font-size: 100%;
    margin-bottom: 0rem;
}
