.env-definition {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-definition::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #4D4D80; /* color for the strip */
}
.env-definition::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #4D4D80; /* color for the strip */
}
.env-warning {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-warning::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #000000; /* color for the strip */
}
.env-warning::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #000000; /* color for the strip */
}
.env-construction {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-construction::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #806605; /* color for the strip */
}
.env-construction::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #806605; /* color for the strip */
}
.env-proposition {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-proposition::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #A60D0D; /* color for the strip */
}
.env-proposition::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #A60D0D; /* color for the strip */
}
.env-theorem {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-theorem::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #A60D0D; /* color for the strip */
}
.env-theorem::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #A60D0D; /* color for the strip */
}
.env-example {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-example::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #803300; /* color for the strip */
}
.env-example::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #803300; /* color for the strip */
}
.env-corollary {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-corollary::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #52007A; /* color for the strip */
}
.env-corollary::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #52007A; /* color for the strip */
}
.env-notation {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-notation::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #B00B69; /* color for the strip */
}
.env-notation::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #b00b69 /* color for the strip */
}
.env-remark {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-remark::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #338033; /* color for the strip */
}
.env-remark::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #338033; /* color for the strip */
}
.env-lemma {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-lemma::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #BF5900; /* color for the strip */
}
.env-lemma::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #BF5900; /* color for the strip */
}
.env-proof {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-proof::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #595959; /* color for the strip */
}
.env-proof::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #595959; /* color for the strip */
}
.env-proof p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:     0px; /* Space around the text inside the div */
    margin-bottom:  0px; /* Space around the text inside the div */
}
.env-question {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
}
.env-question p {
    margin-bottom: 0.75em; /* Space around the text inside the div */
}
.env-question::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #00A3AF; /* color for the strip */
}
.env-question::after {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    right: 0; /* Align to the left of the div */
    width: 3px; /* Width of the strip */
    background-color: #00A3AF; /* color for the strip */
}
.env-definition-header {
    background-color: #4D4D80; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-definition-footer {
    background-color: #4D4D80; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-definition-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-definition-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-definition-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-warning-header {
    background-color: #000000; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-warning-footer {
    background-color: #000000; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-warning-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-warning-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-warning-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-construction-header {
    background-color: #806605; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-construction-footer {
    background-color: #806605; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-construction-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-construction-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-construction-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-proposition-header {
    background-color: #A60D0D; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-proposition-footer {
    background-color: #A60D0D; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-proposition-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-proposition-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-proposition-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-theorem-header {
    background-color: #A60D0D; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-theorem-footer {
    background-color: #A60D0D; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-theorem-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-theorem-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-theorem-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-example-header {
    background-color: #803300; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-example-footer {
    background-color: #803300; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-example-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-example-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-example-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-corollary-header {
    background-color: #52007A; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-corollary-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-corollary-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-corollary-footer {
    background-color: #52007A; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-corollary-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-notation-header {
    background-color: #b00b69; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-notation-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-notation-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-notation-footer {
    background-color: #b00b69; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-notation-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-remark-header {
    background-color: #338033; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-remark-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-remark-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-remark-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-remark-footer {
    background-color: #338033; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-lemma-header {
    background-color: #BF5900; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-lemma-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-lemma-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-lemma-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-lemma-footer {
    background-color: #BF5900; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-proof-header {
    background-color: #595959; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
    margin-top: 1rem;
}
.env-proof-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-proof-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-proof-footer {
    background-color: #595959; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-proof-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-proof {
    /*padding-bottom: 8px*/
}
.env-proof p:last-child {
    padding-bottom: 8px;
}
.env-proof div.proofbox {
    background-color: gray;
    color: white;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 0;
    border-radius: 2px; /* Rounded Corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle Shadow */
    display: block;
}
.env-proof a {
    text-decoration: none; /* Remove Underline from Links */
}
.env-proof a:hover {
  text-decoration: underline;
}
.env-question-header {
    background-color: #00A3AF; /* background color */
    color: #ffffff; /* White text color */
    padding-left:   15px; /* Space around the text inside the div */
    padding-right:  15px; /* Space around the text inside the div */
    padding-top:    5px; /* Space around the text inside the div */
    padding-bottom: 5px; /* Space around the text inside the div */
}
.env-question-footer {
    background-color: #00A3AF; /* background color */
    color: #ffffff; /* White text color */
    padding: 1.5px 10px; /* Space around the text inside the div */
    margin-bottom: 1rem;
}
.env-question-header p {
    padding-top:    0px; /* Space around the text inside the div */
    padding-bottom: 0px; /* Space around the text inside the div */
    margin-top:    0px; /* Space around the text inside the div */
    margin-bottom: 0px; /* Space around the text inside the div */
}
.env-question-header a {
  color: #ffffff;
  text-decoration: none; /* Remove Underline from Links */
}
.env-question-header a:hover {
  color: #ffffff;
  text-decoration: underline; /* Remove Underline from Links */
}
.env-footnotes {
   background-color: #f2f2f2; /* Light grey background */
   padding: 10px 15px 0.1px 15px; /* Space around the text */
   position: relative; /* Needed for the strip positioning */
   padding-bottom: 10px;
}
.env-footnotes::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align to the top of the div */
    bottom: 0; /* Align to the bottom of the div */
    left: 0; /* Align to the left of the div */
    width: 5px; /* Width of the strip */
    background-color: #5BC0BE; /* color for the strip */
}
