{% extends "layout.html" %}

{% block head %}
  <script type="text/javascript" src="/static/js/toggle.js"></script>
{% endblock %}

{% macro citationsMacro(citations) %}
  {% if citations | length == 0 %}
    <p>This item is never cited.
    <style type="text/css">span.toggle { display: none; }</style>
  {% elif citations | length == 1 %}
    <p>This item is referenced in 1 tag:
  {% elif citations | length > 1 %}
    <p>This item is referenced in {{ citations | length }} tags:
  {% endif %}

  {% if citations | length >= 1 %}
    <ul>
      {% for citation in citations %}
        <li>in {{ citation.tag.type | capitalize }} <a href="/tag/{{ citation.tag.tag }}" data-tag="{{ citation.tag.tag }}">{{ citation.tag.ref }}</a>{% if citation.tag.name %}: {{ citation.tag.name | safe }}{% endif %}{% if citation.note %}, which cites {{ citation.note }} of <span class="tag">{{ entry.key }}</span>{% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% block title %}Bibliography Entry {% endblock %}

{% block breadcrumb %}
  <li><a href="/bibliography">Bibliography</a>
  <li>{{ entry.fields["title"] | safe }}
{% endblock %}

{% block hamburger %}
  <div class="interaction">
    {{ neighboursMacro(neighbours) }}
  </div>
{% endblock %}

{% block sidebar %}
  <div class="interaction">
    {{ neighboursMacro(neighbours) }}
  </div>
{% endblock %}

{% macro neighboursMacro(neighbours) %}

<ul class="neighbours">
{% if neighbours[0] %}
  <li class="left"><a href="/bibliography/{{ neighbours[0].key }}">previous entry</a>
{% endif %}
{% if neighbours[1] %}
  <li class="right"><a href="/bibliography/{{ neighbours[1].key }}">next entry</a>
{% endif %}
</ul>
{% if neighbours[0] or neighbours[1] %}<br style="clear:both">{% endif %}

{% endmacro %}

{% block body %}
  <h2>Bibliography Entry: <span class="tag">{{ entry.key }}</span></h2>

  <nav class="nav nav-tabs nav-fill" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" href="#entry-table" role="tab">Entry</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#entry-code" role="tab">Code</a>
  </nav>

  <div class="tab-content" id="entry-content">
    <div class="tab-pane show active " id="entry-table" role="tabpanel">
      <dl class="entry">
        {% if "author" in entry.fields %}
          <dt>Author</dt>
          <dd>{{ entry.fields["author"] | safe }}</dd>
        {% endif %}

        {% if "title" in entry.fields %}
          <dt>Title</dt>
          <dd>{{ entry.fields["title"] | safe }}</dd>
        {% endif %}

        {% if "year" in entry.fields %}
          <dt>Year</dt>
          <dd>{{ entry.fields["year"] }}</dd>
        {% endif %}

        {% if "journal" in entry.fields and not "fjournal" in entry.fields %}
          <dt>Journal</dt>
          <dd>{{ entry.fields["journal"] | safe }}</dd>
        {% endif %}

        {% if "fjournal" in entry.fields %}
          <dt>Journal</dt>
          <dd>{{ entry.fields["fjournal"] | safe }}</dd>
        {% endif %}

        {% if "publisher" in entry.fields %}
          <dt>Publisher</dt>
          <dd>{{ entry.fields["publisher"] | safe }}</dd>
        {% endif %}

        {% if "series" in entry.fields %}
          <dt>Series</dt>
          <dd>{{ entry.fields["series"] | safe }}</dd>
        {% endif %}

        {% if "volume" in entry.fields %}
          <dt>Volume</dt>
          <dd>{{ entry.fields["volume"] }}</dd>
        {% endif %}

        {% if "number" in entry.fields %}
          <dt>Number</dt>
          <dd>{{ entry.fields["number"] }}</dd>
        {% endif %}

        {% if "pages" in entry.fields %}
          <dt>Pages</dt>
          <dd>{{ entry.fields["pages"] | replace("--", "&ndash;") | safe }}</dd>
        {% endif %}

        {% if "eprint" in entry.fields %}{# assume it's arXiv #}
          <dt>ArXiv</dt>
          <dd><a href="https://arxiv.org/abs/{{ entry.fields["eprint"] }}">{{ entry.fields["eprint"] }}</a></dd>
        {% endif %}

        {% if "url" in entry.fields %}
          <dt>URL</dt>
          <dd><a href="{{ entry.fields["url"] }}">{{ entry.fields["url"] }}</a></dd>
        {% endif %}

        {% if "mrnumber" in entry.fields %}
          <dt>MathSciNet
          <dd><a href="https://mathscinet.ams.org/mathscinet-getitem?mr={{ entry.fields["mrnumber"] }}">MR{{ entry.fields["mrnumber"] }}</a>
        {% endif %}

        {% if "doi" in entry.fields %}
          <dt><abbr title="Document Object Identifier">DOI</abbr>
          <dd><a href="https://doi.org/{{ entry.fields["doi"] }}"><code>doi:{{ entry.fields["mrnumber"] }}</code></a>
        {% endif %}
      </dl>
    </div>

    <div class="tab-pane bib-code-button" id="entry-code" role="tabpanel">
      <pre class="bib-code-block"><code><span class="code-text">@</span><span class="code-type">{{- entry.entrytype -}}</span><span class="code-text">{</span><span class="code-title">{{- entry.key -}}</span><span class="code-text">,</span>
{% if "author" in entry.fields -%}
<span class="code-fields">    AUTHOR</span>       <span class="code-text"> = { {{- entry.original_author | safe -}} },</span>
{% endif -%}
{% if "title" in entry.fields -%}
<span class="code-fields">    TITLE</span>        <span class="code-text"> = { {{- entry.fields["title"] | safe -}} },</span>
{% endif -%}
{% if "booktitle" in entry.fields -%}
<span class="code-fields">    BOOKTITLE</span>    <span class="code-text"> = { {{- entry.fields["booktitle"] | safe -}} },</span>
{% endif -%}
{% if "year" in entry.fields -%}
<span class="code-fields">    YEAR</span>         <span class="code-text"> = { {{- entry.fields["year"] | safe -}} },</span>
{% endif -%}
{% if "journal" in entry.fields and not "fjournal" in entry.fields -%}
<span class="code-fields">    JOURNAL</span>      <span class="code-text"> = { {{- entry.fields["jornal"] | safe -}} },</span>
{% endif -%}
{% if "fjournal" in entry.fields -%}
<span class="code-fields">    JOURNAL</span>      <span class="code-text"> = { {{- entry.fields["fjornal"] | safe -}} },</span>
{% endif -%}
{% if "publisher" in entry.fields -%}
<span class="code-fields">    PUBLISHER</span>    <span class="code-text"> = { {{- entry.fields["publisher"] | safe -}} },</span>
{% endif -%}
{% if "series" in entry.fields -%}
<span class="code-fields">    SERIES</span>       <span class="code-text"> = { {{- entry.fields["series"] | safe -}} },</span>
{% endif -%}
{% if "volume" in entry.fields -%}
<span class="code-fields">    VOLUME</span>       <span class="code-text"> = { {{- entry.fields["volume"] | safe -}} },</span>
{% endif -%}
{% if "number" in entry.fields -%}
<span class="code-fields">    NUMBER</span>       <span class="code-text"> = { {{- entry.fields["number"] | safe -}} },</span>
{% endif -%}
{% if "pages" in entry.fields -%}
<span class="code-fields">    PAGES</span>        <span class="code-text"> = { {{- entry.fields["pages"] | safe -}} },</span>
{% endif -%}
{% if "eprint" in entry.fields -%}
<span class="code-fields">    EPRINT</span>       <span class="code-text"> = { {{- entry.fields["eprint"] | safe -}} },</span>
{% endif -%}
{% if "url" in entry.fields -%}
<span class="code-fields">    URL</span>          <span class="code-text"> = { {{- entry.fields["url"] | safe -}} },</span>
{% endif -%}
{% if "mrclass" in entry.fields -%}
<span class="code-fields">    MRCLASS</span>      <span class="code-text"> = { {{- entry.fields["mrclass"] | safe -}} },</span>
{% endif -%}
{% if "mrnumber" in entry.fields -%}
<span class="code-fields">    MRNUMBER</span>     <span class="code-text"> = { {{- entry.fields["mrnumber"] | safe -}} },</span>
{% endif -%}
{% if "howpublished" in entry.fields -%}
<span class="code-fields">    HOWPUBLISHED</span> <span class="code-text"> = { {{- entry.fields["howpublished"] | safe -}} },</span>
{% endif -%}
{% if "doi" in entry.fields -%}
<span class="code-fields">    DOI</span>          <span class="code-text"> = { {{- entry.fields["doi"] | safe -}} },</span>
{% endif -%}
{% if "shorthand" in entry.fields -%}
<span class="code-fields">    SHORTHAND</span>    <span class="code-text"> = { {{- entry.fields["shorthand"] | safe -}} },</span>
{% endif -%}
{% if "organization" in entry.fields -%}
<span class="code-fields">    ORGANIZATION</span> <span class="code-text"> = { {{- entry.fields["organization"] | safe -}} },</span>
{% endif -%}
{% if "issn" in entry.fields -%}
<span class="code-fields">    ISSN</span>         <span class="code-text"> = { {{- entry.fields["issn"] | safe -}} },</span>
{% endif -%}
{% if "isbn" in entry.fields -%}
<span class="code-fields">    ISBN</span>         <span class="code-text"> = { {{- entry.fields["isbn"] | safe -}} },</span>
{% endif -%}
{% if "month" in entry.fields -%}
<span class="code-fields">    MONTH</span>        <span class="code-text"> = { {{- entry.fields["month"] | safe -}} },</span>
{% endif -%}
}</code></pre><button class="copy-button" onclick="copyCode()">Copy</button>
    </div>
  </div>
  <!--<div id="citations-main">
    {{ citationsMacro(citations) }}
  </div>-->
{% endblock %}
