{% extends "layout.html" %}

{% set index = true %}

{% block title %}Index {% endblock %}

{% block body %}
  <p style="margin-bottom:1em">Welcome! This is the web version of my <a href="https://topological-modular-forms.github.io/notes.html">notes</a>, including only the mostly polished parts of them. It is built using <a href="https://gerby-project.github.io/">Gerby</a>, created by <a href="https://pbelmans.ncag.info/">Pieter Belmans</a> and <a href="Raymond Cheng">Raymond Cheng</a>.</p>

  <p style="margin-bottom:1em"><b>Comments. </b>Although the comments feature has been disable for this site, any and all comments, no matter how small (even things like bad typography or very small typos), are extremely welcome, as are contributions and feedback. If you'd like to get in touch, please send me an email at <a href="mailto:emily.de.oliveira.santos.tmf@gmail.com">emily.de.oliveira.santos.tmf@gmail.com</a>.</p>

  <p style="margin-bottom:1em"><b>Preferences. </b>You can change the font of the site, the style of the PDFs, as well as turn on dark mode by clicking the gear button at the top of the page.</p>

  <p style="margin-bottom:1em">See the <a href="/about">About page</a> for more details about how the site is organised, as well as various notes on its content.</p>
{% endblock %}

{% block tagline %}
  <em style="display: block; margin: auto; text-align: center">a collection of personal notes on mathematics and physics</em>
{% endblock %}

{% block sidebar %}
  <ul id="index-select">
    <li id="index-about"><a href="/about"><span class="dark-svg"><img src="/static/images/info.svg"></span>About</a>
    <!--<li id="index-search"><a href="/search">Search<img src="/static/images/search.svg"></a>-->
    <!--<li id="index-blog"><a href="https://www.math.columbia.edu/~dejong/wordpress/"><img src="/static/images/blog.svg">blog</a>-->
    <li id="index-bibliography"><a href="/bibliography"><span class="dark-svg"><img src="/static/images/bibliography.svg"></span>References</a>
    <li id="index-browse"><a href="/browse"><span class="dark-svg"><img src="/static/images/list-ordered.svg"></span>Contents</a>
    <li id="index-github"><a href="https://github.com/topological-modular-forms/mess-project-gerby"><span class="dark-svg"><img src="/static/images/github.svg"></span>GitHub</a>
    <!--<li id="index-comments"><a href="/recent-comments">comments<img src="/static/images/comments.svg"></a>-->
    <li><a href="https://topological-modular-forms.github.io/notes.html"><span class="dark-svg"><img src="/static/images/blog.svg"></span>Nightly Ver.</a>
    <li id="index-changes"><a href="/changes"><span class="dark-svg"><img src="/static/images/diff.svg"></span>Changes</a>
  </ul>
  {% for update in updates %}
    <h3>{{ update.title | safe }}</h3>
    <ul>
      {% for item  in update.entries %}
        <li>{{ item | safe }}
      {% endfor %}
    </ul>
  {% endfor %}

  <h3><a href="/statistics">Statistics</a></h3>

  <p class="mb-1">The Gigantic Mess project now consists of
  <ul>
    {% for statistic in statistics %}
      <li>{{ statistic | safe }}
    {% endfor %}
  </ul>
  <hr>
  <a id="book-pdf-link">Download the book as a PDF</a>
{% endblock %}
