{% extends "layout.html" %}

{% set index = true %}

{% block title %}Index {% endblock %}

{% block body %}
  <div class="index-page-body">
    <!--<div class="highlighted-warning-box"><b>Important: </b>Currently, most chapters are empty placeholders, with the exception of the first 11 chapters, though chapter 7 is also empty.</div>-->

    <div align="center"><img width="100%" class="clowder-logo"></div>

    <p style="text-align:center;margin-top:1.25em;margin-bottom:1em"><b>Welcome to the Clowder Project!</b></p>
    
    <div class="mobile-div">
        <ul id="mobile-index-select">
            <li id="mobile-index-browse"><a href="/browse"><span class="dark-svg"><img src="/static/images/list-ordered.svg"></span>Contents</a></li>
            <li id="mobile-index-bibliography"><a href="/bibliography"><span class="dark-svg"><img src="/static/images/bibliography.svg"></span>References</a></li>
            <li id="mobile-index-contributors"><a href="/contributors"><span class="dark-svg"><img src="/static/images/contributors.svg"></span>Contributors</a></li>
            <li id="mobile-index-changes"><a href="/changes"><span class="dark-svg"><img src="/static/images/diff.svg"></span>Changes</a></li>
            <li id="mobile-index-github"><a href="https://github.com/topological-modular-forms/the-clowder-project"><span class="dark-svg"><img src="/static/images/github.svg"></span>GitHub</a></li>
            <li id="mobile-index-discord"><a href="https://discord.gg/b98uG2MWgc"><span class="dark-svg"><img src="/static/images/discord.svg"></span>Discord</a></li>
        </ul>
    </div>

    <p style="margin-top:0.5em;margin-bottom:1em">The Clowder Project is an online reference work and wiki for category theory and ma&shy;the&shy;ma&shy;ti&shy;cs. It is built using <a href="https://gerby-project.github.io/">Gerby</a>, created by <a href="https://pbelmans.ncag.info/">Pieter Belmans</a> and <a href="https://chngr.github.io/">Raymond Cheng</a>, which is a fork of <a href="https://github.com/plastex/plastex">plasTeX</a>. The Clowder Project follows the massively collaborative model started by the <a href="https://stacks.math.columbia.edu/">Stacks Project</a> or the <a href="https://automorphic.jh.edu/">Au&shy;to&shy;mor&shy;phic Pro&shy;ject</a>.</p>

    <p style="margin-bottom:1em">The project is also available as a PDF, which you can download using the following link: <a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/alegreya-sans-tcb.pdf">Down&shy;load the book as a PDF.</a></p>

    <p style="margin-bottom:1em">As a completely static website hosted on GitHub pages, there is currently no system for on-site co&shy;mments like those in the <a href="https://stacks.math.columbia.edu/">Stacks Project</a>, <a href="https://kerodon.net">Ke&shy;ro&shy;don</a>, or the <a href="https://automorphic.jh.edu/">Automorphic Project</a>.</p>

    <p style="margin-bottom:1em">However, there's a dedicated Discord server, which you can join <a href="https://discord.gg/b98uG2MWgc">here</a>. There you'll find cha&shy;nnels for discussion and comments, hopefully partly making up for the lack of an in-site comment system. There's also an updates channel, re&shy;cor&shy;ding ma&shy;jor news and addi&shy;ti&shy;ons cu&shy;rren&shy;tly be&shy;ing worked on.</p>

    <p style="margin-bottom:1em">In general, any and all comments, no matter how small (even things like very small ty&shy;pos), are ex&shy;tre&shy;me&shy;ly welcome, as are contributions.</p>

    <hr>

    <p style="margin-bottom:1em">Some further notes on the Clowder Project (from <a href="https://topological-modular-forms.github.io/">Emily de Oli&shy;vei&shy;ra San&shy;tos</a>, the current ma&shy;in au&shy;thor and edi&shy;tor):</p>

    <p style="margin-bottom:1em"><b>Placeholder Symbols and Future Style. </b>Currently, a number of macros have been de&shy;fi&shy;ned using pla&shy;ce&shy;hol&shy;der symbols, and look very ugly as a re&shy;sult.</p>

    <p style="margin-bottom:1em">This is because I eventually plan to replace them with (the math font for) Darwin, a free and open-source typeface project I'm currently working on, which will eventually allow me more freedom in wri&shy;ting these notes:</p>

    <span class="dark-svg"><img width="100%" src="/static/images/darwin.svg"></span>

    <p style="margin-bottom:1em">You can find more details about Darwin at its <a href="https://github.com/topological-modular-forms/Darwin-Typeface">Git&shy;Hub repository</a> or <a href="https://darwintypeface.com">website</a>.</p>

    <p style="margin-bottom:1em"><b>Footnotes. </b>There are lots of footnotes, due to how the original PDFs were created. They au&shy;to&shy;ma&shy;ti&shy;ca&shy;lly expand when you hover your mouse over them; here's an example<span class="footnote" data-content="Most of the footnotes are quite unimportant and can be ignored, though."><a class="footnotemark footnote-offset" href="#footnote-example-1" id="footnote-example-1-mark"></a><a href="#footnote-example-1"><sup>[1]</sup></a></span>.</p>

    <p style="margin-bottom:1em"><b>Large Diagrams and the Zoom In Feature. </b>This work features many diagrams that are un&shy;for&shy;tu&shy;na&shy;te&shy;ly too large to be comfortably legible in their native size. To com&shy;pen&shy;sa&shy;te for this, it is possible to click on them to expand their size by 200%, or al&shy;ter&shy;na&shy;ti&shy;ve&shy;ly open them as separate images in new tabs by right-clicking and then se&shy;lec&shy;ting “Open image in new tab”.</p>

    <p style="margin-bottom:1em"><b>A Note on Style. </b>There are a few uncommon stylistic choices made through&shy;out these notes:</p>
    <ul>
      <li>Every proposition, theorem, lemma, etc. needs to come with a proof, even if the lat&shy;ter simply reads “Omitted.”. This is to en&shy;sure re&shy;sul&shy;ts without proof are clearly la&shy;be&shy;led as su&shy;ch.</li>
      <li>There's a considerably larger amount of re&shy;pe&shy;ti&shy;ti&shy;on than is usual in a math text, as well as non-linearity. This is done with the intention of making the Clow&shy;der Pro&shy;ject work also as a wiki, making individual sections and sub&shy;sec&shy;tions more self-con&shy;tai&shy;ned.</li>
    </ul>

    <p style="margin-bottom:1em"><b>Preferences. </b>You can change the font of the site, the style of the PDFs, as well as turn on dark mode by clicking the gear button at the top of the page.</p>

    <p style="margin-bottom:1em"><b>PDF Styles. </b>The PDFs for each chapter as well as for the whole book are generated using four di&shy;ffe&shy;rent styles, as summarised in the following table:</p>
    <table>
      <tr>
        <th>Style</th>
        <th>Class</th>
        <th>Font</th>
        <th>Theorem Environments</th>
      </tr>
      <tr>
        <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/alegreya-sans-tcb.pdf">Style 1</a></td>
        <td><code>book</code></td>
        <td>Alegreya Sans</td>
        <td><code>tcbthm</code></td>
      </tr>
      <tr>
        <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/alegreya-sans.pdf">Style 2</a></td>
        <td><code>book</code></td>
        <td>Alegreya Sans</td>
        <td><code>amsthm</code></td>
      </tr>
      <tr>
        <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/arno.pdf">Style 3</a></td>
        <td><code>book</code></td>
        <td>Arno*</td>
        <td><code>amsthm</code></td>
      </tr>
      <tr>
        <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/cm.pdf">Style 4</a></td>
        <td><code>book</code></td>
        <td>Computer Modern</td>
        <td><code>amsthm</code></td>
      </tr>
    </table>

    <p style="margin-top:0.5em;text-align:left;margin-bottom:1em">*To be replaced with Linus Romer's <a href="https://typedrawers.com/discussion/2630/elemaints-a-serif-family-with-optical-sizes">Elemaints</a> when it is released.</p>
    <p style="margin-bottom:1em"><b>Support. </b>If you like this work and would like to su&shy;pport it financially, you can do so at Ko-Fi:</p>
    <!-- Ko-fi button script -->
    <div align="center" style="margin-bottom:1em">
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>
      kofiwidget2.init('Support Me on Ko-fi', '#13C3FF', 'A0A8PKR0E');
      kofiwidget2.draw();
    </script>
    </div>
    <p style="margin-bottom:1em">I've been struggling financially for the past couple months and my current source of in&shy;co&shy;me is un&shy;for&shy;tu&shy;na&shy;te&shy;ly very unstable and fragile, so any do&shy;na&shy;ti&shy;ons would go a <b>long</b> way in ensuring I'm able to continue working on this project.</p>
    <p style="margin-bottom:1em">The current monthly supporters are listed in the <a href="/contributors">Con&shy;tri&shy;bu&shy;tors</a> page.</p>
    <hr>
    <h2>Footnotes</h2>
    <div><a id="footnote-example-1" class="footnote-offset"></a><a href="#footnote-example-1-mark">[1]</a> Most of the footnotes are quite unimportant and can be ignored, though.</div>
  </div>
{% endblock %}

{% block tagline %}
  <em style="display: block; margin: auto; text-align: center">an online resource for category theory and mathematics</em>
{% endblock %}

{% block sidebar %}
  <ul id="index-select">
      <!--<li id="index-about"><a href="/about"><span class="dark-svg"><img src="/static/images/info.svg"></span>About</a>-->
    <!--<li id="index-search"><a href="/search">Search<img src="/static/images/search.svg"></a>-->
    <li id="index-browse"><a href="/browse"><span class="dark-svg"><img src="/static/images/list-ordered.svg"></span>Contents</a>
    <li id="index-bibliography"><a href="/bibliography"><span class="dark-svg"><img src="/static/images/bibliography.svg"></span>References</a>
    <li id="index-contributors"><a href="/contributors"><span class="dark-svg"><img src="/static/images/contributors.svg"></span>Contributors</a>
    <li id="index-changes"><a href="/changes"><span class="dark-svg"><img src="/static/images/diff.svg"></span>Changes</a>
    <li id="index-github"><a href="https://github.com/topological-modular-forms/the-clowder-project"><span class="dark-svg"><img src="/static/images/github.svg"></span>GitHub</a>
    <li id="index-discord"><a href="https://discord.gg/b98uG2MWgc"><span class="dark-svg"><img src="/static/images/discord.svg"></span>Discord</a>
    <!--<li id="index-invisible"><span></span>-->
  </ul>
  {% for update in updates %}
    <h3><span class="semibold">{{ update.title | safe }}</span></h3>
    <ul>
      {% for item  in update.entries %}
        <li>{{ item | safe }}
      {% endfor %}
    </ul>
  {% endfor %}

  <h3><a href="/statistics"><span class="semibold">Statistics</span></a></h3>

  <p class="mb-1">The Clowder Project now consists of
  <ul>
    {% for statistic in statistics %}
      <li>{{ statistic | safe }}
    {% endfor %}
  </ul>
  <hr>
  <a id="book-pdf-link">Download the book as a PDF</a>
{% endblock %}
