{% extends "layout.html" %}

{% set index = true %}

{% block title %}Index {% endblock %}

{% block body %}
  <!--<div class="highlighted-warning-box"><b>Important: </b>Currently, most chapters are empty placeholders, with the exception of the first 11 chapters, though chapter 7 is also empty.</div>-->

  <p style="text-align:center;margin-top:0.5em;margin-bottom:1em"><b>Welcome to the Clowder Project!</b></p>

  <div align="center"><span style="align:center;" class="dark-svg"><img width="100%" src="/static/images/clowder.png"></span></div>

  <p style="margin-top:0.5em;margin-bottom:1em">This project is built using <a href="https://gerby-project.github.io/">Gerby</a>, created by <a href="https://pbelmans.ncag.info/">Pieter Belmans</a> and <a href="Raymond Cheng">Raymond Cheng</a>, and follows the massively collaborative model started by the <a href="https://stacks.math.columbia.edu/">Stacks Project</a> or the <a href="https://automorphic.jh.edu/">Automorphic Project</a>.</p>

  <p style="margin-bottom:1em">Being a completely static website hosted on GitHub pages, there is currently no system for on-site comments like those in the <a href="https://stacks.math.columbia.edu/">Stacks Project</a>, <a href="https://kerodon.net">Kerodon</a>, or the <a href="https://automorphic.jh.edu/">Automorphic Project</a>.</p>

  <p style="margin-bottom:1em">However, there's a dedicated Discord server, which you can join <a href="https://discord.gg/b98uG2MWgc">here</a>. In general, any and all comments, no matter how small (even things like very small typos), are extremely welcome, as are contributions.</p>

  <hr>

  <p style="margin-bottom:1em">Here are some further notes on the project:</p>

  <p style="margin-bottom:1em"><b>Placeholder Symbols and Future Style. </b>Currently, a number of macros have been defined using placeholder symbols, and look very ugly as a result.</p>

  <p style="margin-bottom:1em">This is because I eventually plan to replace them with (the math font for) Darwin, a free and open-source typeface project I'm currently working on, which will eventually allow me more freedom in writing these notes:</p>

  <span class="dark-svg"><img width="100%" src="/static/images/darwin.svg"></span>

  <p style="margin-bottom:1em">You can find more details about Darwin at its <a href="https://github.com/topological-modular-forms/Darwin-Typeface">GitHub repository</a> or <a href="https://topological-modular-forms.github.io/darwin-webpage">website</a>.</p>

  <p style="margin-bottom:1em"><b>Footnotes. </b>There are lots of footnotes, due to how the original PDFs were created. They automatically expand when you hover your mouse over them; here's an example<span class="footnote" data-content="Most of the footnotes are quite unimportant and can be ignored, though."><a class="footnotemark footnote-offset" href="#footnote-example-1" id="footnote-example-1-mark"></a><a href="#footnote-example-1"><sup>[1]</sup></a></span>.</p>

  <p style="margin-bottom:1em"><b>Large Diagrams and the Zoom In Feature. </b>This work features many diagrams that are unfortunately too large to be comfortably legible in their native size. To compensate for this, it is possible to click on them to expand their size by 200%, or alternatively open them as separate images in new tabs by right-clicking and then selecting “Open image in new tab”.</p>

  <p style="margin-bottom:1em"><b>A Note on Style. </b>There are a few uncommon stylistic choices made and mantained throughout these notes:</p>
  <ul>
    <li>Every proposition, theorem, lemma, etc. needs to come with a proof, even if the latter simply reads “Omitted.”. This is to ensure results without proof are clearly labeled as such.</li>
    <li>There's a considerably larger amount of repetition than is usual in a math text. This is done with the intention of making the Clowder Project work also as a wiki, making individual sections and subsections more self-contained.</li>
  </ul>

  <p style="margin-bottom:1em"><b>Preferences. </b>You can change the font of the site, the style of the PDFs, as well as turn on dark mode by clicking the gear button at the top of the page.</p>

  <p style="margin-bottom:1em"><b>PDF Styles. </b>The PDFs for each chapter as well as for the whole book are generated using four different styles, as summarised in the following table:</p>
  <table>
    <tr>
      <th>Style</th>
      <th>Class</th>
      <th>Font</th>
      <th>Theorem Environments</th>
    </tr>
    <tr>
      <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/alegreya-sans-tcb.pdf">Style 1</a></td>
      <td><code>book</code></td>
      <td>Alegreya Sans</td>
      <td><code>tcbthm</code></td>
    </tr>
    <tr>
      <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/alegreya-sans.pdf">Style 2</a></td>
      <td><code>book</code></td>
      <td>Alegreya Sans</td>
      <td><code>amsthm</code></td>
    </tr>
    <tr>
      <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/arno.pdf">Style 3</a></td>
      <td><code>book</code></td>
      <td>Arno*</td>
      <td><code>amsthm</code></td>
    </tr>
    <tr>
      <td><a href="https://raw.githubusercontent.com/topological-modular-forms/clowder-project-output/master/tags-book/cm.pdf">Style 4</a></td>
      <td><code>book</code></td>
      <td>Computer Modern</td>
      <td><code>amsthm</code></td>
    </tr>
  </table>

  <p style="margin-top:0.5em;text-align:left;margin-bottom:1em">*To be replaced with Linus Romer's <a href="https://typedrawers.com/discussion/2630/elemaints-a-serif-family-with-optical-sizes">Elemaints</a> when it is released.</p>
  <!--
  <hr>
  <p style="margin-bottom:1em"><b>Notes on the Development Branch. </b>You are currently viewing the “development branch” of this project, which includes work in progress and is significantly more messy than the “stable branch”, the one that will eventually be publicly accessible and have more spaced and polished updates. Currently, most of the ongoing work is focused on:</p>
  <ul>
    <li>Polishing the work linearly from start to finish and filling in some of the omitted proofs. Currently at the Relations chapter.</li>
    <li>Writing new material and figuring/working new things out. Currently focused on developing the chapters on Relations and Spans.</li>
    <li>Converting the PDFs I have written to web version. Currently focused on converting PDFs for category theory, more specifically the Types of Morphisms in Categories chapter.</li>
  </ul>
  <p style="margin-bottom:1em">Any comments, suggestions, or contributions, no matter how small, are more than welcome. I hope you enjoy this project!</p>
  -->
  <p style="margin-bottom:1em"><b>Support. </b>If you like the work I'm doing and would like to support it financially, you can do so at Ko-Fi:</p>
  <!-- Ko-fi button script -->
  <div align="center" style="margin-bottom:1em">
  <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
  <script type='text/javascript'>
    kofiwidget2.init('Support Me on Ko-fi', '#13C3FF', 'A0A8PKR0E');
    kofiwidget2.draw();
  </script>
  </div>
  <p style="margin-bottom:1em">As someone outside academia/without an economically stable position, this would greatly help me to be able to continue working on this project (and on <a href="https://topological-modular-forms.github.io/darwin-webpage">Darwin</a>).</p>
  <hr>
  <h2>Footnotes</h2>
  <div><a id="footnote-example-1" class="footnote-offset"></a><a href="#footnote-example-1-mark">[1]</a> Most of the footnotes are quite unimportant and can be ignored, though.</div>
{% endblock %}

{% block tagline %}
  <em style="display: block; margin: auto; text-align: center">an online resource for category theory and mathematics</em>
{% endblock %}

{% block sidebar %}
  <ul id="index-select">
      <!--<li id="index-about"><a href="/about"><span class="dark-svg"><img src="/static/images/info.svg"></span>About</a>-->
    <!--<li id="index-search"><a href="/search">Search<img src="/static/images/search.svg"></a>-->
    <!--<li id="index-blog"><a href="https://www.math.columbia.edu/~dejong/wordpress/"><img src="/static/images/blog.svg">blog</a>-->
    <li id="index-bibliography"><a href="/bibliography"><span class="dark-svg"><img src="/static/images/bibliography.svg"></span>References</a>
    <li id="index-browse"><a href="/browse"><span class="dark-svg"><img src="/static/images/list-ordered.svg"></span>Contents</a>
    <li id="index-github"><a href="https://github.com/topological-modular-forms/the-clowder-project"><span class="dark-svg"><img src="/static/images/github.svg"></span>GitHub</a>
    <!--<li id="index-comments"><a href="/recent-comments">comments<img src="/static/images/comments.svg"></a>-->
    <!--<li><a href="https://topological-modular-forms.github.io/notes.html"><span class="dark-svg"><img src="/static/images/blog.svg"></span>Nightly Ver.</a>-->
    <li id="index-changes"><a href="/changes"><span class="dark-svg"><img src="/static/images/diff.svg"></span>Changes</a>
    <!--<li id="index-invisible"><span></span>-->
  </ul>
  {% for update in updates %}
    <h3>{{ update.title | safe }}</h3>
    <ul>
      {% for item  in update.entries %}
        <li>{{ item | safe }}
      {% endfor %}
    </ul>
  {% endfor %}

  <h3><a href="/statistics">Statistics</a></h3>

  <p class="mb-1">The Clowder Project now consists of
  <ul>
    {% for statistic in statistics %}
      <li>{{ statistic | safe }}
    {% endfor %}
  </ul>
  <hr>
  <a id="book-pdf-link">Download the book as a PDF</a>
{% endblock %}
