{% extends "layout.html" %}

{% block title %}How to cite tag {{ tag.tag }} {% endblock %}

{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
{% endblock %}

{% block breadcrumb %}
  {{ macros.breadcrumb(breadcrumb) }}
{% endblock %}

{% block neighbours %}
  <ul class="neighbours">
  {% if neighbours[0] %}
    <li class="left"><a href="/tag/{{ neighbours[0].tag }}">previous {{ neighbours[0].type }}</a>
  {% endif %}
  {% if neighbours[1] %}
    <li class="right"><a href="/tag/{{ neighbours[1].tag }}">next {{ neighbours[1].type }}</a>
  {% endif %}
  </ul>
  <br style="clear:both">
{% endblock %}

{% block body %}
  <h2>How to cite tag <span class="tag">{{ tag.tag }}</span></h2>

  <p>Go <a href="/tag/{{ tag.tag }}">back to the tag page</a>.

  <p>You can use one of the following citations in your LaTeX code.
  <ul id="citations">
    <li>
    <button class="clipboard" data-clipboard-target="#cite-tag-link"><img class="dark-svg" src="/static/images/clippy.svg"></button>
    <code id="cite-tag-link">\cite[\href{https://clowderproject.com/tag/{{ tag.tag }}.html}{Tag {{ tag.tag }}}]{clowder-project}</code>

    <li>
    <button class="clipboard" data-clipboard-target="#cite-type-link"><img class="dark-svg" src="/static/images/clippy.svg"></button>
    <code id="cite-type-link">\cite[\href{https://clowderproject.com/tag/{{ tag.tag }}.html}{% raw %}{{% endraw %}{{ tag.type | capitalize }} {{ tag.tag }}{% raw %}}{% endraw %}]{clowder-project}</code>

    <li>
    <button class="clipboard" data-clipboard-target="#link-tag"><img class="dark-svg" src="/static/images/clippy.svg"></button>
    <code id="link-tag">\href{https://clowderproject.com/tag/{{ tag.tag }}.html}{The Clowder Project, Tag {{ tag.tag }}}</code>

    <li>
    <button class="clipboard" data-clipboard-target="#link-type"><img class="dark-svg" src="/static/images/clippy.svg"></button>
    <code id="link-type">\href{https://clowderproject.com/tag/{{ tag.tag }}.html}{% raw %}{The Clowder Project, {% endraw %}{{ tag.type | capitalize }} {{ tag.tag }}}</code>
  </ul>
  <script type="text/javascript">
new ClipboardJS(".clipboard");
  </script>

  <p>You can use the following in your BibTeX file.
  <div class="code-container">
    <pre class="code-block"><code><span class="code-text">@</span><span class="code-type">misc</span><span class="code-text">{</span><span class="code-title">clowder-project</span><span class="code-text">,</span>
    <span class="code-fields">AUTHOR</span>       <span class="code-text">= {The {Clowder Project Authors}},</span>
    <span class="code-fields">TITLE</span>        <span class="code-text">= {\textit{The Clowder Project}},</span>
    <span class="code-fields">HOWPUBLISHED</span> <span class="code-text">= {\url{https://clowderproject.com}},</span>
    <span class="code-fields">YEAR</span>         <span class="code-text">= {% raw %}{{% endraw %}{{ time.year }}},</span>
}</code></pre>
  <button class="copy-button" onclick="copyCode()">Copy</button>
  </div>
  <p>You can also consider using the <code>@online</code> type in BibLaTeX, changing the the <code>howpublished</code> to <code>url</code>. Another neat trick in BibLaTeX is the <code>shorthand</code> field, which you could set to <code>Clowder</code>.
{% endblock %}

