{% extends "layout.html" %}

{% block title %}{{ tag }} is not a valid tag {% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
<h2 class="error"><span class="tag">{{ tag }}</span> is not a valid tag</h2>

<p>The format for a tag can be found on the <a href="/tags">tags explained</a> page. In short:</p>
<ul>
  <li><span class="counter-inner-no-tag">•</span>4 symbols long</li>
  <li><span class="counter-inner-no-tag">•</span>using digits and uppercase letters</li>
  <li><span class="counter-inner-no-tag">•</span>excluding the letter <var>O</var> in favour of the digit <var>0</var></li>
</ul>
{% endblock %}

